<h1>js-chat</h1>

<div id="wrapper">
  <div id="actions">
    <form id="chat-form">
      <div id="person">
        <label for="person-name">Your Name:</label>
        <input id="person-name" name="message[name]" type="text" />
      </div>

      <textarea id="chat-log" disabled><%= @messages.map { |m| m.to_s }.join("\n") %>
</textarea>

      <label for="chat-input">Say:</label>
      <input id="chat-input" name="message[body]" type="text" />

      <input id="chat-submit" type="submit" value="Send" onclick="; return false;" />
      <input id="chat-clear" type="reset" value="Clear" onclick="; return false;" />
      <input id="refresh-chat" type="submit" value="Refresh" onclick="; return false;" />
    </form>
  </div>
</div>
