<html>
  <head>
    <title>js-chat</title>

    <link href="/styles/application.css" media="screen" rel="stylesheet" type="text/css" />

    <script src="/javascript/jquery.js" type="text/javascript"></script>
    <script src="/javascript/js-chat.js" type="text/javascript"></script>
    <script src="/javascript/application.js" type="text/javascript"></script>
  </head>

  <body>
    <div id="header">
      <h1>js-chat <span id="version"></span></h1>
    </div>

    <div id="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
