* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
  font-family: Helvetica, "MS Trebuchet", sans-serif;
  letter-spacing: -0.1em;
  text-align: center;
}

h1 {
  font-size: 5em;
  text-align: left;
}

h1 a {
  color: #000;
  font-size: 0.5em;
  text-decoration: none;
}

h1 a:hover {
  color: #888;
}

input {
  margin: 1em;
  margin-bottom: 0.5em;
}

#wrapper {
  border: 3px solid #000;
  margin: -1.3em 6.5em;
  padding: 1em;
  width: 600px;
}

#person {
  text-align: right;
}

#person > input {
  margin: 1em 0;
}

#chat-log {
  height: 400px;
  width: 100%;
}

#chat-input {
  width: 50%;
}

#sidebar {
  position: fixed;
  top: 72px;
  right: 5px;

  border: 3px dashed #888;
  width: 250px;
}

#sidebar a {
  color: #888;
  display: block;
  font-size: 1.5em;
  padding: 5px;
  text-decoration: none;
}

#sidebar a:hover {
  background-color: #ccc;
}
